/* #header {
	background-color: #444;
	background: url(./assets/bg-image.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top: 150px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    } */

    #header h1 {
        margin-top: 60px;
        margin-bottom: 15px;
        color: #fff;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: -1px;
    }
    #header h2 {
        margin-top: 60px;
        margin-bottom: 15px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -1px;
    }